body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html * 
{
  font-family: 'Poppins';
}
      
html body {
  background-color: #F5F5F5 !important;
}

nav.navbar{
  background-color: white!important;
}

button.btn-outline-primary, a.btn-outline-primary{
  color: #0673A1 !important;
  border-color: #0673A1;
}
button.btn-outline-primary:hover,a.btn-outline-primary:hover{
  background-color: #eeeeee;
  color: #0673A1;
}
button.btn-primary,a.btn-primary {
  color: #fff;
  background-color: #0673A1;
  border-color: #0673A1;
}
button.btn-primary:hover, a.btn-primary:hover {
  background-color: #05628a;
}

div.progress-bar{
  background-color: #0673A1 !important;
}

.nav-link{
  color: #0673A1 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: #495057 !important;
}

nav.path a{
  color: #0673A1 !important;
}

.nav-tabs button.nav-link.active {
  background-color: #F5F5F5 !important;
  border-bottom-color: #F5F5F5 !important;
}

.spinner-grow{
  background: #0673A1 !important;
}
.page-link{
    color: #0673A1 !important;
    background-color: #fff !important;
    border: 1px solid #dee2e6 !important;
}
.page-item.active .page-link{
  background-color: #0673A1 !important;
  border-color: #0673A1 !important;
  color: #fff !important;
}


