body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html * 
{
  font-family: 'Poppins';
}
      
html body {
  background-color: #F5F5F5;
}

nav.navbar{
  background-color: white!important;
}

button.btn-outline-primary, a.btn-outline-primary{
  color: #0673A1 !important;
  border-color: #0673A1;
}
button.btn-outline-primary:hover,a.btn-outline-primary:hover{
  background-color: #eeeeee;
  color: #0673A1;
}
button.btn-primary,a.btn-primary {
  color: #fff;
  background-color: #0673A1;
  border-color: #0673A1;
}
button.btn-primary:hover, a.btn-primary:hover {
  background-color: #05628a;
}
